username: USERNAME
password: PASSWORD
google_calendar:
  personal: GOOGLE_CALENDAR_PRIVATE_URL
  work: GOOGLE_CALENDAR_PRIVATE_URL
  athletics: GOOGLE_CALENDAR_PRIVATE_URL
forecast:
  api_key: YOUR_API_KEY
  lat: LAT
  long: LONG
  units: UNITS
cta_api_key: CTA_API_KEY
deploy:
  server:
  user:

