---
chdir: /home/APP_USER/DEPLOY_FOLDER/current
environment: production
timeout: 30
log: /log/thin.log
pid: /pids/thin.pid
socket: /tmp/thin.sock
max_conns: 1024
max_persistent_conns: 100
require: []
wait: 30
servers: 1
daemonize: true
